
@mixin animation($property) {
  animation: $property;
  -webkit-animation: $property;
}


@mixin transition($property) {
  transition: $property;
  -webkit-transition: $property;
  -moz-transition: $property;
}

@mixin box-shadow($property) {
  box-shadow: $property;
  -moz-box-shadow: $property;
  -webkit-box-shadow: $property;
}

@mixin mobile() {
  @media (max-width: 999px) {
    @content;
  }
}

@mixin mobile-small() {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin pc() {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin landscape() {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin fadein-animation() {

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}

@mixin portrait() {
  @media screen and (orientation: portrait) {
    @content;
  }
}

@mixin transform($property) {
  transform: $property;
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
}

@mixin transform-origin($property) {
  transform-origin: $property;
  -webkit-transform-origin: $property;
  -moz-transform-origin: $property;
  -ms-transform-origin: $property;
}

@mixin transform-style($property) {
  transform-style: $property;
  -webkit-transform-style: $property;
}
