.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    &__container {
      background-color: blue;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
      height: 70px;
    }

  &__logo {
    width: 70px;
    height: 70px;
    background-color: grey;
  }

}
