@import '../../components/styles/mixins';

.horizontal-line {
  border: 0.5px solid lightgrey;
  margin: 20px 40px 20px 40px;
}

.show-overview {
  margin-top: 100px;

  margin-left: 100px;
  margin-right: 100px;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;

  @include fadein-animation;

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__description {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column;
    }

    &-image {
      @include mobile {
        width: 100%;
      }

      width: 50%;

      img {
        height: 500px;
      }
    }

    &-text {
      @include mobile {
        width: 100%;
      }

      width: 50%;
    }

    p {
      width: 500px;
    }

    h1 {
      margin-left: 10px;
      text-align: left;
    }

    div {
      p {
        margin-left: 10px;
        text-align: left;
      }
    }
  }

  h3 {
    font-weight: lighter;
  }
}
